@use '/src/scss/util';
@use '/src/scss/animations';

.container {
  opacity: 0;
  margin-block: 1.5rem;
  width: 15rem;
  border-radius: var(--radius-default);
  border: solid 2px var(--color);
  position: relative;
  animation: fade-in forwards 0.4s;

  &[data-correct=true] {
    --color: var(--color-success);
  }

  &[data-correct=false] {
    --color: var(--color-failure);
  }

  p {
    padding-inline: 0.75rem;

    &:first-of-type {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      padding-block: 0.5rem;
      font-size: 1.15rem;
      border-bottom: solid 2px var(--color);
      position: relative;
      font-weight: 550;

      &::after {
        @include util.default-pseudo;
        background-color: var(--color);
        opacity: 0.3;
      }
    }

    &:last-of-type {
      padding-block: 0.5rem;
    }
  }

}