.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  img, button {
    min-width: 11.5rem;
  }

  // Name options container
  div:has(button:nth-child(4)) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }
}

.loading {
  opacity: 0.3;
}