@use 'sass:color';
@use '/src/scss/util';

.header {
  position: relative;
  text-align: center;
  padding-inline: 0.25rem;
  background-color: rgba(255, 255, 255, 0.09);
  margin-bottom: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  
  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    
    span {
      display: inline-block;
      padding-inline: 0.25rem;
    }
    
    span:first-of-type {
      transform: rotate(-3deg);
    }
    
    span:last-of-type {
      transform: rotate(3deg);
      color: var(--color-accent);
    }
  }
  
  @media screen and (min-width: util.$breakpoint-small) {
    padding-block: 1.75rem;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 1.35rem;
    margin-top: 1.35rem;
    padding-inline: 2rem;

    h1 {
      font-size: 1.75rem;
    }
  }
}