@use '/src/scss/animations.scss';
@use '/src/scss/util.scss';

.container {
  position: relative;
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    font-size: 0;
    z-index: 1;
    opacity: 0;
    filter: contrast(0);

    &[data-is-revealed=true] {
      filter: contrast(1);
      transition: filter 0.75s ease-out;
    }

    &[data-is-loaded=true] {
      animation: fade-in forwards 0.25s;
    }
  }

  // Gradient background
  div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, rgba(148, 187, 233, 0) 60%);
    border-radius: 50%;
  }

  &::after {
    @include util.default-pseudo;
    background-color: var(--color-bg);
    width: 16px;
    height: 16px;
    z-index: 2;
  }
}