.image {
  pointer-events: none;
  width: 200px;
  height: 200px;
  padding: 15px;
  display: block;
  filter: contrast(0);

  &[data-visible=true] {
    filter: contrast(1);
    transition: filter 1.25s;
  }
}